@model Dec_21_ASP_Bikes.ViewModel.DeactivationWithLoginViewModel

@{
    ViewBag.Title = "Login";

}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<link href="~/Content/Login.css" rel="stylesheet" />


<h2>Login</h2>

@using (Html.BeginForm("Login", "Test", FormMethod.Post))

{

    if (ViewBag.NotifyUser != null)
    {

        <h4> @ViewBag.NotifyUser</h4>
        <p>@ViewBag.SendEmail</p>

    }
    else
    {
        @Html.AntiForgeryToken()

        <div style="background-image:url('/Content/Images/AboutUcm.jpg'); background-size: 400px 200px;">


            <div class="form-horizontal">
                <h4>Login User</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                        <input type="button" value="Cancel" class="btn btn-default"
                               onclick="javascript:document.location.href='@Url.Action("Login", "Test")'" />
                    </div>
                </div>
            </div>
        </div>
    }
}







