

@model Dec_21_ASP_Bikes.Models.CycleRequestedByUser

@if (ViewBag.NoFine != null)
{
    <h2><p>@ViewBag.NoFine</p></h2>
}

@if (ViewBag.dateCrossed != null)
{
    <h2>@ViewBag.dateCrossed</h2>
    <h3>@ViewBag.fineCharges</h3>
            <h4>@ViewBag.FromAndToDetails</h4>
}

@if (ViewBag.todayDate != null)
{
    <h2>@ViewBag.todayDate</h2>
}

@if (ViewBag.uhaveTime != null)
{
    <h2>@ViewBag.uhaveTime</h2>

}

