@model Dec_21_ASP_Bikes.Models.CycleRequestedByUser


@using (Html.BeginForm("UserProfileWithCycleDetails", "CycleRequestedByUser", FormMethod.Post))
{

<div>
    <h4>CycleRequestedByUser</h4>

    @if (ViewBag.Error != null)
    {
        <h2>The user has no data to display</h2>
    }
    else

    {



        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CycleID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CycleID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FromDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FromDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ToDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ToDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Registration.Username)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Registration.Username)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Registration.Fullname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Registration.Fullname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RequestID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequestID)
            </dd>

        </dl>

        @*@Html.ActionLink("Return Cycle", "ReturnCycle", "Test", new { id = Model.RequestID })*@
        <a href="@Url.Action("ReturnCycle", "Test", new { id = Model.RequestID })">Return Cycle</a>


    }

    

</div>
}



    


@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserRequest }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

